---
layout: ryu
title: life's lightleaks
---

<header class='front-page-header'>
    <div class="header-text">
        <h1>MB</h1>
        <h2>{{ page.title }}</h2>
        <ul>
            <li>tumblr</li>
            <li>twitter</li>
        </ul>
    </div>
</header>

<section class='front-page-section'>
    <div class="post-list post">
        <ul>
          {% for post in site.posts %}
            <li>
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p class="post-date">{{ post.date | date_to_long_string }}</p>
              <div class="post-excerpt">{{ post.excerpt }}</div>
            </li>
          {% endfor %}
        </ul>

        {% include footer.md %}
        
    </div>
</section>
    
