<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li>Flat 2, 9 Clifton Crescent, Folkestone. CT20 2EL.</li>
        <li>07595 350277 <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/unikent/">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/gnozu">
            <i class="fa fa-twitter"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
